<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <title>Restaurant List</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Restaurant List</a>
    </div>
  </nav>
  {{{ body }}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>